/* ------------------------------------------
  TODO: # global
-------------------------------------------*/

button {
  all: unset;
}

.light {
  --primary: #ffffff;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
  transition: 0.2;
  cursor: pointer;
}

.border {
  border: 1px solid red;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
