@import "./var.scss";

/* ------------------------------------------
  TODO: # Scroll To Top
-------------------------------------------*/

.scrollToTop {
  background-color: rgba(25, 118, 210, 0.85);
  width: 2.6rem;
  height: 2.6rem;
  border-radius: 50%;
  position: fixed;
  bottom: 2rem;
  right: 3%;
  text-align: center;
  border: 1px solid #ffffff33;
  transition: all 0.3s;
  &:active {
    transform: scale(0.95);
  }
  &:hover {
    background-color: rgb(16, 83, 151);
    cursor: pointer;
  }
  i.icon-keyboard_arrow_up {
    font-size: 20px;
  }
}

@media (#{--media600px}) {
  .scrollToTop {
    opacity: 0.4;
    width: 2.3rem;
    height: 2.3rem;
    &:hover {
      opacity: 0.9;
    }
  }
}
