@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
/* FIXME: import to fonts from google font [ font || Robot || font weight ( 0 > 100 > 900 ) ] */

/* ------------------------------------------
  TODO: # variable
-------------------------------------------*/

:root {
  /* FIXME: variable color css */

  --prmary: #000000;
  --secondary: #18181b;
  --color-border: #3f3f4666;
  --title: #f4f4f5;
  --subtitle: #a1a1aa;
  --bgheader: #27272a;
  --blue: #5dbcfc;
  --box-shadow: #2321214a;
  --error: #f44336;
  --icon-hover: #5dbcfc;

  --padding-rems-8-: -4.8rem;
  --padding-rems-8: 4.8rem;
  --padding-rems-7-: -1.7rem;
  --padding-rems-7: 1.7rem;
}

/* ------------------------------------------
  TODO: # global
-------------------------------------------*/

html {
  body {
    font-family: "Roboto", serif, sans-serif;
    letter-spacing: 0.1px;
    background: var(--prmary);
    color: #fff;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  box-sizing: inherit;
}

button {
  all: unset;
}

.light {
  --primary: #ffffff;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
  transition: 0.2;
  cursor: pointer;
}

.border {
  border: 1px solid red;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ------------------------------------------
  TODO: # Container
-------------------------------------------*/
.container {
  width: 80%;
  margin: 0 auto;
  background-color: var(--secondary);
  border: 2px solid var(--color-border);
  padding: 0 var(--padding-rems-8);

  .divider {
    border-bottom: 1px solid var(--color-border);
    margin: 3rem 0;

    width: calc(100% + var(--padding-rems-8) + var(--padding-rems-8));
    margin-left: var(--padding-rems-8-);
    margin-right: var(--padding-rems-8-);
  }
}

/* FIXME: MAX-WIDTH > 1000px */

@media (max-width: 1000px) {
  .container {
    width: 90%;
    padding: 0 var(--padding-rems-7);

    .divider {
      width: calc(100% + var(--padding-rems-7) 0.8rem);
      margin-left: var(--padding-rems-7-);
      margin-right: var(--padding-rems-7-);
    }
  }
}

/* FIXME: MAX-WIDTH > 600px */

@media (max-width: 600px) {
  .container {
    width: 98%;
    padding: 0 1.5rem;
  }
}
